@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand&family=Hi+Melody&family=Averia+Gruesa+Libre&family=Baloo+Bhai+2&family=Alata&family=Kulim+Park&family=Della+Respira&family=Stylish&family=Baumans&family=Abril+Fatface&family=Dancing+Script&family=Montserrat&family=Julius+Sans+One&family=Baloo+Tamma+2&family=Poiret+One&display=swap');

html, body, .col1, .col2 {
  height: 100%;
  font-family: 'Nunito';
}

body {
  color:rgb(77, 77, 77);
  background-color: #f0f2f5;
  margin: 0;
}

img{
  object-fit: contain;
}

.myContainer {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
}

.topnav {
  width: 120px;
}

.columncontainer {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-self: center;
}

.navcontainer {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.container {
  top: 120;
  border-radius: 50px;
  margin: 0;
}

.col1 {
  position: fixed;
  margin: 30px;
  width: 28%;
  min-width: 400px;
  top: 120px;
}

.col2 {
  margin-top: 70px;
  background-color:#f0f2f5;
  margin-left: 30%;
  overflow: auto;
  min-width: 800px;
  width: 70%;
  height: 200vh;
  border-radius: 50px;
}

.navbar-light .navbar-brand {
  color: white;
  position: fixed;
}

.navbar-light:hover .navbar-brand:hover {
  color: #fcfcfc;
  outline: #fcfcfc solid 5px;
  cursor: pointer;
}

.myNavbar {
  background-color: #ffffff;
  // width: 90%;
  // background: linear-gradient(217deg, rgba(46, 112, 255, 0.8), rgba(255,0,0,0) 70.71%),
  //           linear-gradient(127deg, rgba(10, 38, 82, 0.8), rgba(0,255,0,0) 70.71%),
  //           linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  margin-bottom: 30px;   
  height: 120px;
  display: flex;
  justify-items: center;
}

.navButton {
  color: #74a4f2;
  border: 1px solid #74a4f2;
  margin: 8px;
  border-radius: 20px;
}

.navButton:hover, .navButton:focus, .navButton:active {
  background: radial-gradient(ellipse at left, #1876f2, transparent),
            radial-gradient(ellipse at right, #74a4f2, transparent);
  border: none;
  outline: none;
  cursor: pointer;
}

.navSignOut {
  color: gray;
  border: 1px solid gray;
  margin: 8px;
  border-radius: 20px;
}

.navSignOut:hover, .navSignOut:focus, .navSignOut:active {
  background: radial-gradient(ellipse at left, gray, transparent),
            radial-gradient(ellipse at right, lightgray, transparent);
  border: none;
  outline: none;
  cursor: pointer;
}

.iconarea {
  display: flex;
  flex-direction: column;
}
.icon {
  color: white;
  margin-top: 25px;
  margin-left: 30px;
  font-size: 48px;
  background-color: transparent;
  position: fixed;
}

.brand:hover, .brand:focus, .brand:active {
  webkit-filter: blur(2px); 
  filter: blur(2px);
  cursor: pointer;
}

.letter:hover, .letter:focus, .letter:active {
  webkit-filter: blur(4px); 
  filter: blur(4px);
  cursor: pointer;
}

.brand {
  font-size: 40px;
  color: white;
  margin: auto 0;
  background: radial-gradient(ellipse at left, #1876f2, transparent),
            radial-gradient(ellipse at right, #74a4f2, transparent);
  border-radius: 50%;
  line-height: 40px;
  margin-left: 8px;
  width: 100px;
  height: 100px;
  align-self: center;
  justify-self: center;
}

.projectName {
  font-family: 'Baumans';
  font-size: 50px;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(77, 77, 77));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
span{
	margin: 0 15px;
	line-height: 40px;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
  animation: span 4s ease-in infinite alternate;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
  // font-family: 'Baumans';
  color: black;

}
.main{
	display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  vertical-align: middle;
  text-align: center;
}
.letter{
  display: inline-flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  vertical-align: middle;
  text-align: center;
  margin: 4px;
  margin-bottom: 8px;
	height: 30px;
  width: 27px;
	/* border: 2.5px solid #FF1EAD; */
  border: 3px dotted;
  border-color: -webkit-linear-gradient(#eee, #333);
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .25),
		inset 0 0 2px rgba(0, 0, 0, .25);

  animation: letter 4s ease-in-out infinite alternate;
  webkit-filter: blur(2px); 
  filter: blur(2px);
}
@keyframes span {
	0%,30%{ margin: 0 2px; }
	70%,100%{ margin: 0 2px; }
}
@keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 5vw; }
}

.myCol {
  display: flex;
  justify-content: center;
}

.card {
  border: 0px;
  display: flex;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.profilecard {
  width: 100%;
  justify-content: space-between;
}

.profile {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-content: space-between;
  align-items: center;
  align-self: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 13px;
  border-radius: 25px;
  box-shadow: 1px 1px 2px 1px #ced0d4;
  background-color: rgb(250, 250, 250);
  font-family: 'Quicksand';
}

.profile:hover {
  box-shadow: 2px 3px 6px #6d6d6d;
  cursor: pointer;
}

.profile img {
  border-radius: 22px;;
  box-shadow: 1px 1px 2px 1px #ced0d4;
  width: 200px;
  margin-left: 20px;
  margin-right: 10px;
}

.profile img:hover {
   box-shadow: 2px 3px 6px #6d6d6d;
   cursor: pointer;
}

.name:hover {
  font-weight: 700;
   color: #1876f2;
   cursor: pointer;
}

.staricon {
  line-height: 12px;
  height: 20px;
  display: inline-flex;
  margin: 0 3px;
  padding: 0;
  animation: starColor 5s infinite;
}

@keyframes starColor   {
  from {color:  rgb(230, 214, 40);}
  to {color: silver}
}


.staricon:hover {
  color: rgb(230, 214, 40);
  cursor: pointer;
}

.users {
  display: flex;
  flex-direction: column;
  min-height: 650px;
  margin-top: 33px;
  background-color: rgb(250, 250, 250);
  border-radius: 25px;
  box-shadow: 1px 1px 2px 1px #ced0d4;
  font-family: 'Quicksand';
  height: 500px;
}

.users:hover {
   box-shadow: 2px 3px 6px #6d6d6d;
   cursor: pointer;
}

#usersTitle {
padding: 0px;
margin: 0px;
}

.profileText {
  font-size: 12px;
}
#dropdowntoggle {
  height: 40px;
  line-height: 1.5;
  font-size: 1rem;
  background: radial-gradient(ellipse at right, #1876f2, transparent),
            radial-gradient(ellipse at left, #74a4f2, transparent);
  border: 0.5px dotted rgb(203, 203, 203);
  color: white;
}

#dropdowntoggle:hover, #dropdowntoggle:focus, #dropdowntoggle:active  {
  height: 40px;
  line-height: 1.5;
  font-size: 1rem;
  color: white;
  outline: none;
  background-color: transparent;
  border: 0.5px dotted rgb(203, 203, 203);
}

#dropdownbutton {
  height: 40px;
  line-height: 1.5;
  font-size: 1rem;
  background: radial-gradient(ellipse at right, #1876f2, transparent),
            radial-gradient(ellipse at left, #74a4f2, transparent);
  border: 0.5px dotted rgb(203, 203, 203);
  color: white;
  margin-bottom: 20px;
}

#dropdownbutton:hover {
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
  outline: white;
  cursor: pointer;
}

#dropdownbutton:focus {
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
  outline: white;
  cursor: pointer;
}

#dropdownbutton:active {
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
  outline: white;
  cursor: pointer;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px gainsboro solid;
  background: radial-gradient(ellipse at right, #1876f2, transparent),
            radial-gradient(ellipse at left, #74a4f2, transparent);
  border: 0.5px dotted rgb(203, 203, 203);
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 2px 1px 2px 1px gainsboro;
  text-align: center;
  padding-top: 25px;
  margin-top: 40px;
  margin-right: 25px;
  font-family: 'Alata'
}
.cardContainer:hover {
  border: none;
  // outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 2px 3px 6px #6d6d6d;
}

.cardContainer p {
  padding-top: 20px;
}

/* Event.jsx */

.event {
  border: 1px solid gainsboro;
  border-radius: 40px;
  margin: 1em;
  margin-left: 30px;
  padding: 1em;
  box-shadow: 1px 1px 1px 1px gainsboro;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
}

.jumbotron {
  // background-color: rgb(253, 238, 205);
  // border: 1px solid rgb(184, 184, 184);
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 2px 2px gainsboro;
  // background-color: transparent;
  border-radius: 25px;
  margin-top: 10px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 300px;
}

.jumbotron:hover {
    box-shadow: 2px 3px 6px #6d6d6d;
   cursor: pointer;
}

.eventJumbotron {
  text-align: center;
  font-family: 'Quicksand';
}

.eventJumbotron h1 {
  font-family: 'Alata';
  letter-spacing: 3px;
  font-size: 60px;
}

// .float-right {
//   margin: 10px;
//   margin-right: 15px;
// }

#submit {
  color: white;
  background-color: #5e9cff;
  width: 80px;
  border: none;
  border-radius: 10px;
}

#submit:hover, #submit:focus, #submit:active {
  background: radial-gradient(ellipse at right, #1876f2, transparent),
            radial-gradient(ellipse at left, #74a4f2, transparent);
  border: 0;
  outline: none;
  cursor: pointer;
}

#update {
  color: white;
  background-color: #a8b4c4;
  margin: 0;
  padding: 6px 9px;
  width: 100px;
  border: none;
  border-radius: 10px;
}

#update:hover {
  background: radial-gradient(ellipse at right, #8a9fba, transparent),
            radial-gradient(ellipse at left, #454b56, transparent);
  border: none;
  cursor: pointer;
}

#delete {
  color: rgb(181, 181, 181);
  // margin-top: 6px;
  margin: 0;
  padding: 5px 8px;
  width: 100px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#delete:hover {
  background: radial-gradient(ellipse at right, white),
            radial-gradient(ellipse at left, #dfdfdf);
  border: none;
   webkit-filter: blur(1px); 
  filter: blur(1px);
}


/* EventAttendees.jsx */

.attendees {
  background: #ffffff;
  margin-top: 10px;
  padding-top: 20px;
  font-family: 'Alata';
  box-shadow: 1px 1px 1px 1px gainsboro;
  border-radius: 25px;
}

.attendees:hover {
  box-shadow: 2px 3px 6px #6d6d6d;
  cursor: pointer;
}

.attendeelist {
  background: #ffffff;
  z-index: 10;
  margin-top: 10px;
  padding-top: 20px;
  font-family: 'Alata';
  box-shadow: 1px 1px 1px 1px gainsboro;
  border-radius: 15px;
  width: 100%;
}
.circular {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(204, 204, 204);
  box-shadow: 2px 3px 6px #cacaca;
  margin: 10px;
}
.circular img {
  // width: 50px;
  height: 85px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circular:hover {
   box-shadow: 2px 3px 6px #6d6d6d;
   cursor: pointer;
}


.attendeesContainer h5 {
  text-align: center;
}

.attendees {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.attendeeInfo {
  text-align: center;
  font-size: 10px;
}

.eventBottom {
  display: flex;
  justify-content: space-between;
}
.eventContent {
  background: #ffffff;
  // margin-top: 10px;
  // padding-top: 20px;
  font-family: 'Alata';
  box-shadow: 1px 1px 1px 1px gainsboro;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-right: 15px;
  padding-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  // justify-content: center;
  // justify-items: center;
  align-content: center;
  // align-items: center;
  // rows so justify-content goes horizontal
  // justify-content: space-around;
}

.eventContent:hover {
box-shadow: 2px 3px 6px #6d6d6d;
  cursor: pointer;
} 

.eventMessages {
  display: flex;
  flex-direction: column;
  width: 65%;
  font-family: 'Alata';
  box-shadow: 1px 1px 1px 1px gainsboro;
  border-radius: 25px;
}
h4 {
  font-family: 'Alata';
}
.mediaContainer {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  font-family: 'Alata';
  box-shadow: 1px 1px 1px 1px gainsboro;
  border-radius: 25px;
  margin-bottom: 13px;
}

.mediaContainer:hover {
  box-shadow: 2px 3px 6px #6d6d6d;
  cursor: pointer;
}

.mediaTitleContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mediaTitle {
  padding-top: 15px;
}

.mediaContent {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: #f0f2f5;
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  // grid-auto-rows: 1fr;
  // column-gap: 5px;
  // row-gap: 5px;
  // grid-template-areas: 
  // " currentPhoto photo photo photo photo "
  // " photo photo photo photo photo "
  // " photo photo photo photo photo "
  // " photo photo photo photo photo "
  // ;
  border: none;
  padding: 0;
  margin: 0;
}

.mediaContent::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.mediaContent > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.mediaContent > * {
  background: rgba(0,0,0,0.1);
  border: 1px white solid;
}

.photo img {
  object-fit: contain;
  grid-area: photo;
  background-color: blue;
}

#currentPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(204, 204, 204);
  box-shadow: 2px 3px 6px #cacaca;
  margin: 10px;
  object-fit: fill;
  // transform: scaleY(-1);
}

#currentPhoto:hover {
  box-shadow: 2px 3px 6px #6d6d6d;
  cursor: pointer;
}

.fileloadContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  // rows so justify-content goes horizontal
  // justify-content: space-around;
}

.file-upload {
  width: 100%;
  font-family: 'Nunito';
  font-size: 14px;
  display: flex;
  margin: 10px;
  padding: 0px;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: flex-start;
  width: 100%;
}


// choose file button
.formInput {
  margin: 0px;
  margin-bottom: 5px;
}

.upbutton{
  color: white;
  background-color: #b1b5bc;;
  margin-top: 5px;
  padding: 4px 1px;
  width: 70px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.upbutton:hover, .upbutton:focus, .upbutton:active {
  background: radial-gradient(ellipse at right, #a0aab7, transparent),
            radial-gradient(ellipse at left, #d9dfea, transparent);
  border: none;
  outline: none;
  cursor: pointer;
}


#fileButton {
  font-family: 'Nunito';
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 4px 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.progessBar{
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-family: 'Alata';
  margin: 8px 0px;
  height: 1rem;
  max-width: 80%;
  background: linear-gradient(
        to right, 
        #d2d2d2 5%, 
        #9f9f9f 15%, 
        #595959 25%, 
        #d0d0d0 35%, 
        #a7a7a7 45%, 
        #484848 55%, 
        #747474 65%, 
        #3a3a3a 75%, 
        #6a6a6a 85%, 
        #1a1a1a 95%);
  color: white;
  padding: 2px;
}

#upload {
  color: white;
  background-color: #c9d0dc;
  padding: 6px 9px;
  width: 125px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
}

#upload:hover {
  background: radial-gradient(ellipse at right, #97a0ac, transparent),
            radial-gradient(ellipse at left, #74a4f2, transparent);
  border: none;
  cursor: pointer;
}

/* SearchEvent.jsx */

.searchResults {
  display: grid;
}

.searchResult {
  margin: 0.3em;
}

/* Content.jsx */
#exampleForm.ControlTextarea1 {
  width: 650px;
}
.modal-body, .modal-dialog {
  min-width: 675px;
}
.form-control {
  border-radius: 15px;
  // min-width: 90%;
  min-width: 635px;
  text-decoration: none;
  font-size: 12px;
  color: #e1e1e1;
}

.form-control:hover, .form-control:focus, .form-control:active {
  outline: none;
  border: none;
  box-shadow: 2px 3px 6px #cacaca;
}

.userMessage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 2px 3px 6px #cacaca;
  margin: 10px;
}

.userMessage img {
    height: 50px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}
.messageBox {
  display: flex;
  justify-content: left;
}

.messages p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.messageName {
  font-weight: bold;
}

.message {
  padding: 10px;
}


/* rainbow divider */

$bg: white;
$barsize: 15px;

.hr {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;

  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 50%;
    left: 0;
  }

  &:before {

    background: linear-gradient( 90deg, $bg 0%, $bg 50%, transparent 50%, transparent 100% );
    background-size: $barsize;
    background-position: center;
    z-index: 1;

  }

  &:after {
    transition: opacity 0.3s ease, animation 0.3s ease;
    background: linear-gradient(
        to right, 
        #d2d2d2 5%, 
        #9f9f9f 15%, 
        #595959 25%, 
        #d0d0d0 35%, 
        #a7a7a7 45%, 
        #484848 55%, 
        #747474 65%, 
        #3a3a3a 75%, 
        #6a6a6a 85%, 
        #1a1a1a 95%);
    background-size: 200%;
    background-position: 0%;
    animation: bar 15s linear infinite;
  }

  @keyframes bar {
    0% { background-position: 0%; }
    100% { background-position: 200%; }
  }
}

.hr.anim {
  &:before {
    background: linear-gradient( 
      90deg, 
      $bg 0%, $bg 5%, 
      transparent 5%, transparent 10%, 
      $bg 10%, $bg 15%, 
      transparent 15%, transparent 20%, 
      $bg 20%, $bg 25%,
      transparent 25%, transparent 30%,
      $bg 30%, $bg 35%, 
      transparent 35%, transparent 40%, 
      $bg 40%, $bg 45%, 
      transparent 45%, transparent 50%, 
      $bg 50%, $bg 55%,
      transparent 55%, transparent 60%,
      $bg 60%, $bg 65%,
      transparent 65%, transparent 70%, 
      $bg 70%, $bg 75%, 
      transparent 75%, transparent 80%, 
      $bg 80%, $bg 85%,
      transparent 85%, transparent 90%,
      $bg 90%, $bg 95%, 
      transparent 95%, transparent 100% );

    background-size: $barsize * 10;
    background-position: center;
    z-index: 1;
    
    animation: bar 120s linear infinite;
      
  }

  &:hover {
    &:before {
        animation-duration: 20s;
    }
    &:after {
        animation-duration: 2s;
    }
  }
}

#formEventTitle {
  max-width: 95%
}

#formEventDescription {
  width: 90%;
}

.btn-primary {
  border-radius: 15px;


}

.message-list {
  margin-top: 10px;
  font-size: 14px;
}